body{
    background-color: black;
    color: aliceblue;
}

.box{
    list-style-type: none;
    background-color: aquamarine;
    border: 5px solid ;
    border-radius: 200px;
    width: 80px;
    height: 80px;
}

.pack{
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: space-around;
    align-items: center;
    height: 30vh;
}
